@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Roboto+Mono&display=swap');

/* font-family: 'Lato', ;
font-family: 'Poppins', ;
font-family: 'Roboto Mono', ; */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  line-height: 1.6em;
  font-size: 14px;
  color: #777777;
  font-family: 'poppins', sans-serif;
}

::selection {
  background-color: #f6398d;
  color: white;
}

section {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: 'poppins', sans-serif;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text-black {
  color: #000 !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

/* ************* */

header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ffffff !important;
  z-index: 9;
  width: 100%;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

#menu-top {
  background-color: #f9f9ff;
}

#menu-top .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu-top .list li {
  display: inline-block;
  padding: 15px 15px;
  text-transform: uppercase;
  transition: 0.3s all;
}

#menu-top .list a {
  color: #000;
  transition: 0.6s all;
  font-size: 12px;
  font-weight: 600;
}

#menu-top .list a:hover {
  color: white;
}

#menu-top .list li:hover {
  color: white;
  background-color: #f41068;
}

nav .nav-item {
  padding: 0 10px;
}

nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #000 !important;
  transition: 0.3s;
}

.nav-item .nav-link:hover {
  color: #f41068 !important;
}

/* Banner Area Style */

.banner-area {
  background-image: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
}

.bannerImg-row-Container {
  height: 635px;
}

.banner-content h1 {
  font-size: 75px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner-content .title-top {
  font-size: 48px;
  font-weight: 400;
}

.banner-content span {
  font-size: 20px;
}

.banner-content .banner-btn {
  color: #000 !important;
  font-size: 14px !important;
  background: #ffffff !important;
  border: none !important;
  outline: none !important;
  padding: 10px 35px !important;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.3s all;
  border: 1px solid transparent;
}

.banner-btn:hover {
  background-color: #F41068 !important;
  color: white !important;
}

/* category Area  */

.category-area {
  padding: 100px 0;
}

.category-area .menu-content {
  padding-bottom: 40px;
}

.menu-content .title h1 {
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.content {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.6s;
  margin: 20px;
  opacity: 0;
  background-image: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
}

.content-details {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  padding: 0 1em;
  opacity: 0;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}

.content-title {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}

.content:hover .content-overlay {
  opacity: 0.8;
}

.content:hover .content-details {
  bottom: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* Men product Area  */
.men-product-area {
  position: relative;
  top: 0;
  left: 0;
  padding: 100px 0;
  background-image: url(../images/men-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.men-product-area .men-product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
  opacity: 0.8;
  z-index: -4;
}

.single-product .content-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000;
  opacity: 0;
  transition: all 0.3s;
  margin: 0;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3s;
}

.single-product .content:hover .content-overlay {
  opacity: 0.5;
}

.men-product-bottom,
.women-product-bottom {
  transition: 0.3s all;
  background-image: linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
}

.men-product-bottom a,
.women-product-bottom a {
  display: inline-block;
  width: 25%;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  transition: 0.3s all;
}

.men-product-bottom a:hover,
.women-product-bottom a:hover {
  color: #000;
  background-color: #ffffff;
}

.content-price h5 {
  color: #ffffff;
  margin: 15px 0;
  font-weight: 600;
}

.content-price h3 {
  color: #ffffff;
  font-weight: 700;
}

.women-product-area {
  position: relative;
  top: 0;
  left: 0;
  padding: 100px 0;
  background-color: #ffffff;
}

/* Count down */
.countdown-area {
  position: relative;
  background-color: #f9f9ff;
  padding: 80px 0;
}

.countdown-area {
  position: relative;
  padding: 35px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
}

.countdown-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.countdown-item::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  width: 1px;
  height: 40px;
  background-color: #eee;
  transform: translateY(-50%);
}

.countdown-item:last-child {
  width: 0px;
}

.countdown-item .countdown-day {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 30px;
  background: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.shop-now-btn {
  position: absolute;
  bottom: -5em;
  right: 15em;
  display: flex;
  line-height: 40px;
  padding: 10px 40px;
  outline: none;
  text-align: center;
  background-color: #fff !important;
  box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  max-width: 165px;
  transition: all 0.3s;
  color: #222222 !important;
  font-weight: 400;
  font-size: 14px;
  z-index: 3;
}



.shop-now-btn:hover {
  background: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
  color: #ffffff !important;
  border: none !important;
  outline: none !important;
  padding: none;
}

.countDown-img {
  position: absolute;
  top: 20%;
  left: -40%;
  transform: translateY(-50%);
}

/* Related Product Area */

.related-product-area {
  padding-top: 100px;
}

.single-related-product {
  padding-bottom: 30px;
}

.single-related-product img {
  border-radius: 5px;
}

.related-product-details {
  padding: 10px;
}

.related-product-details a {
  font-size: 14px;
  color: #000;
}

.related-product-price {
  color: black;
  font-weight: 600;
  line-height: 30px;
}

/* Brand Area */
.brand-area {
  padding: 60px 0;
}

.brand-area .logo-wrap {
  padding: 65px;
  background: #ffffff;
  box-shadow: -21.213px 21.213px 30px 0px rgba(157, 157, 157, 0.2);
}

.brand-logo img {
  filter: grayscale(100%);
  transition: 0.4s all;
}

.brand-logo img:hover {
  filter: grayscale(0%);
}

.footer-area {
  background-color: #222222;
  color: #ffffff !important;
  padding: 100px 0;
}

.footer-area h4 {
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
}

.footer-area p {
  font-size: 14px;
  color: #777777;
  text-align: initial;
}

.insta-feed li {
  list-style: none;
  overflow: hidden;
  width: 25%;
}

.insta-feed img {
  margin: 5px;
}

.footer-social a {
  padding: 0px 10px;
  font-size: 16px;
  color: #ffffff;
}

.newsLetter-box {
  border: none;
  outline: none;
  width: 80% !important;
  background-color: #191919;
  color: #777777;
  font-weight: 300;
  padding-left: 20px;
  font-size: 14px;
}

.submit-btn {
  padding: 10px 15px;
  border: none;
  outline: none;
  color: #ffffff;
  background: -webkit-linear-gradient(45deg, #f6463d 0%, #f6398d 45%, #f52cdc 100%);
}

.footer-bottom {
  padding-top: 70px;
}